body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
#container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
#header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 3px solid rgb(17, 100, 126);
    background-color: whitesmoke;
}
#logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}
#hidden{
    display: flex;
    align-items: center;
    justify-content: center;
}
#hidden button{
    padding: 10px 20px;
    background-color: whitesmoke;
    color: rgb(17, 100, 126);
    border: 1px solid rgb(17, 100, 126);
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1.2em;
}
#hidden button:hover{
    background-color: rgb(17, 100, 126);
    color: whitesmoke;
    transition-duration: 0.3s;
    transform:scale(1.06);
}
#main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
}
.card{
    max-width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
}
.card:hover{
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.842);
    transition-duration: 0.3s;
    transform: scale(1.01);
}
.card img{
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}
.card button{
    width: 100%;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    cursor: pointer;
    color:rgb(0, 0, 0);
    border-color: rgb(17, 100, 126);
    border-radius: 0 0 20px 20px;
    font-size:large;
}
.card button:hover{
    background-color: rgb(17, 100, 126);
    color: whitesmoke;
    transition-duration: 0.3s;
    font-weight: bold;
    font-size:larger;
    height: 35px;
}
.button_set{
    display: flex;
    flex-direction: column;
    gap: 37px
}
#footer{
    grid-area: footer;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    border-top: 2px solid rgb(17, 100, 126);
    background-color: whitesmoke;
}
#footer p{
    font-size: 1.2rem;
}
#links{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
}
#links a:hover{
    color: black;
    transition-duration: 0.3s
}
@media screen  and (max-width: 600px){
    body{
        font-size: small
    }
    .card button{
        font-size: medium;
    }
} 