body{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif
}
#container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
#header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 3px solid rgb(17, 100, 126);
    background-color: whitesmoke;
    text-transform:capitalize
}
#logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}
#hidden{
    display: flex;
    align-items: center;
    justify-content: center;
}
#hidden button{
    padding: 10px 20px;
    background-color: whitesmoke;
    color: rgb(17, 100, 126);
    border: 1px solid rgb(17, 100, 126);
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1.2em;
}
#hidden button:hover{
    background-color: rgb(17, 100, 126);
    color: whitesmoke;
    transition-duration: 0.3s;
    transform:scale(1.06);
}
#main{
    grid-area: main;
}
table{
    direction: rtl;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
    text-transform: capitalize;
    font-family: 'aref ruqaa ink', serif;
    font-weight: bolder;
    
}
td:nth-child(even)::after{
    content: " JD"
}
tr:nth-child(even){
    background-color: rgba(0, 139, 132, 0.192);
}
th, td{
    height: 50px;
    padding: 5px 0;
    border: 2px solid rgb(17, 100, 126);
}
#footer{
    grid-area: footer;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    border-top: 2px solid rgb(17, 100, 126);
    background-color: whitesmoke;
}
#footer p{
    font-size: 1.2rem;
}
#links{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
}
#links a:hover{
    color: black;
    transition-duration: 0.3s
}
@media screen and (max-width: 600px){
    body{
        font-size: small
    }
    table{
        font-size: medium
    };
}